@page "/admin"
@attribute [Authorize]

@using DataAccessLibrary.Data;
@using DataAccessLibrary.Models;

@inject IOrdersData OrdersAccess

<h3>Clients Orders </h3>
<hr />

@if (orders is null)
{
    <p><em>Loading...</em></p>
}
else @if (orders.Count == 0)
{
    <p><em>No orders so far... try buying something :)</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Items</th>
                <th>Order accepted</th>
                <th>Your package is packed & ready for delivery</th>
                <th>Courier assigned succesfully</th>
                <th>Courier picked up the package</th>
                <th>Courier arrived</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <th>@order.UserId</th>
                    <th>@order.Id</th>
                    <th>@order.OrderDate</th>
                    <th>@order.TotalPrice</th>
                    <th>@order.DeliveryNote</th>
                    <th>
                        <input type="checkbox" @bind="@order.IsAccepted" @onclick="()=>OnCheckboxChanged(order, 1)" />
                    </th>
                    <th>
                        <input type="checkbox" @bind="@order.IsPacked" @onclick="()=>OnCheckboxChanged(order, 2)" />
                    </th>
                    <th>
                        <input type="checkbox" @bind="@order.IsCourierAssigned" @onclick="()=>OnCheckboxChanged(order, 3)" />
                    </th>
                    <th>
                        <input type="checkbox" @bind="@order.IsPickedUp" @onclick="()=>OnCheckboxChanged(order, 4)" />
                    </th>
                    <th>
                        <input type="checkbox" @bind="@order.ArrivedSuccessfully" @onclick="()=>OnCheckboxChanged(order, 5)" />
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <p>*Don't worry, we are saving every modification you make*</p>
}
@code {

    private List<OrderModel>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrdersAccess.GetAllOrders();
    }

    private async Task OnCheckboxChanged(OrderModel order, int Stepflag)
    {
        switch (Stepflag)
        {
            case 1: order.IsAccepted = !order.IsAccepted; break;
            case 2: order.IsPacked = !order.IsPacked; break;
            case 3: order.IsCourierAssigned = !order.IsCourierAssigned; break;
            case 4: order.IsPickedUp = !order.IsPickedUp; break;
            case 5: order.ArrivedSuccessfully = !order.ArrivedSuccessfully; break;
            default: break;
        }
        await OrdersAccess.UpdateOrder(order);
    }
}
